.text-primary{
    color: #04471c; 
}
.bg-primary{
    background-color: #04471c;
}
.border-primary{
    border: 2px solid #04471c;
}

.text-secondary{
    color: #F7B32B;
}
.bg-second{
    background-color: #F7B32B;
}
.bg-second-hover{
    background-color: #e99f0b;
}
.border-second{
    border: 2px solid #F7B32B;
}

.text-second{
    color: #F7B32B;
}
.contactbg{
  background-color: #DBEFED;
}
/* .heroImg {
  width: 100%;
  height: 70vh;
  background: url(./assets/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  transform: rotate(180deg); 
} */

/* text-animation  */
/* .custom-page {
    @apply grid;
  }
  
  .custom-txt {
    @apply m-auto flex font-bold text-transparent uppercase ;
    font-family: monospace;
  }
  
  .custom-character {
    animation: custom-fall 2s linear infinite;
    animation-delay: calc(var(--i) * 200ms);
    transform: translateY(-100%);
  }
  
  @keyframes custom-fall {
    50%, 80% {
      color: green;
      transform: translateY(0);
      opacity: 1;
    }
    95%, 100% {
      opacity: 0;
    }
  } */
